/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.cycle-slideshow {
	height: 500px;
}
#press-slideshow {
	height: 450px;
}
//.wrap {
//  width: 1040px;
//}